<div class="jumbotron">
	<h1>Meet the team</h1><br>
</div>
<div class=>
	<h2 style="color:#ecf0f1">The people behind this app</h2><br><br>
	<h3 style="font-size-h2:12;color:#e74c3c">Tamas Kocsis</p><br>
	<img src="https://pbs.twimg.com/profile_images/1785171419/tamas_400x400.jpg" alt="Tamás Kocsis" style="width:150px;height:150px" class="img-circle"><br><br>
	<p style="color:white;font-size:10">Product guy, self-learner, hopeless optimist</p> <br>
</div>